body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #d1c757, #da924f);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.weather-container {
  background: rgba(255, 255, 255, 0.2);
  padding: 25px 35px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 320px;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
}

button {
  background-color: #104786;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  margin: 5px;
}

button:hover {
  background-color: #005ec2;
}

.weather-info {
  margin-top: 15px;
}

.temp {
  font-size: 36px;
  font-weight: bold;
}

.icon {
  width: 80px;
  height: 80px;
}

.loading {
  margin-top: 15px;
  font-style: italic;
}
